/*STYLE.CSS*/



/*HELPER SELECTORS*/
  /*BOX MODEL HACK*/
  * {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
  }
  .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  }
/*END HELPER SELECTORS*/


body{
  margin:0;
  text-align: center;
  background: -webkit-radial-gradient(white, deepPink); /* Safari */
  background: -o-radial-gradient(white, deepPink); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(white, deepPink); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, deepPink); /* Standard syntax */
  position:relative;
  margin-bottom: 0;
}


/*TITLE PAGE*/


  /*style both h1's separately*/
  h1:first-child{font-family:'Sonsie One', cursive; margin:2em 0;}
  h1:nth-child(2){font-family:'Codystar', cursive; font-size:3em; margin:1em 0;}
  .inactive{
  opacity:.6;
  }
  #rdrlogo{
    width:500px;
    height:218px;
    margin: 0 auto;
    background: url("img/RDR-sprite.png"); 
  }
  /*animation (flickering logo)*/
  .animating{
    -webkit-animation:flash 0.1s steps(2) infinite;
  }
  @-webkit-keyframes flash{
    from{background-position:0px;}
    to{ background-position:-1000px;}
  }
/*END TITLE PAGE*/


/*BOARD*/
  span{
    display:inline-block;
    width:33.33%;
    height:100%;
    border: 2px solid black;
    margin:0;
    padding:0;
  }
  ul{
    list-style: none;
    margin:0 auto;
    padding:0;
    width:300px;
    height:300px;
  }
  li{
    margin:0;
    padding:0;
    height:33.33%;
    width:100%;
  }
  .x{
    background:url(img/season-6-contestants-onerow-small.jpg) no-repeat;
    border:1px solid red;
  }
  .o{
    background:url(img/season-6-contestants-onerow-small.jpg) no-repeat;
    border:1px solid turquoise;
  }

/*END BOARD*/

#characters-page{
    margin: 6em auto;
    width:750px;
    text-align: center;
  }




#characters-page h2{
  float:left;
  color:#f33;
  width:100px;
  display:inline-block;
  font-family:"Titan One";
}
/*begin sprite carousel*/
.carousel-nest{
  text-align: center;
  width:325px;
  height:150px;
  position:relative;
  float:left;
}
.carousel-nest img{
  width:100px;
  display: inline-block;
}
.carousel-nest p {
  font-family:"Righteous", cursive;
  width:100%;
  color:#EC1493;
  text-shadow: 0.1em 0.1em #333;
  font-size:1.5em;
}
.togLeft,.togRight{
  height:100px;
  width:30px;
  position:relative;
  top:-50px;

}

button{
  background: hotpink;
  width:300px;
  height:150px;
  border:5px solid turquoise;
  font-size:2em;
  font-family:'Monoton';
  color:turquoise;
  margin:1em 2em 2em;
}
.carousel-nest button{
  font-size:1em;
  color:white;
}
.ready{
  width:100px;
  height:50px;

}

/*.ready:active{}*/

.carousel{
  width:100px;
  height:100px;
  display:inline-block;
  background:url(img/season-6-contestants-onerow-small.jpg) no-repeat;
  border:1px solid black;

}
/*end sprite carousel*/
@media screen and (max-width:720px){
  ul{
    width:300px;
    height:300px;
  }
}