/*BOX MODEL HACK*/
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body{
  margin:0;
  text-align: center;
  background: -webkit-radial-gradient(white, deepPink); /* Safari */
  background: -o-radial-gradient(white, deepPink); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(white, deepPink); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, deepPink); /* Standard syntax */
  position:relative;
  margin-bottom: 0;
}
span{
  display:inline-block;
  width:33.33%;
  height:100%;
  border: 2px solid black;
  margin:0;
  padding:0;
}
ul{
  list-style: none;
  margin:0 auto;
  padding:0;
  width:420px;
  height:420px;
}
li{
  margin:0;
  padding:0;
  height:33.33%;
  width:100%;
}
.x{
background:url(img/season-6-contestants-onerow.jpg) no-repeat;
background-size: cover;

}
.o{
  background:url(img/season-6-contestants-onerow.jpg) no-repeat;
  background-size: cover;
}
/*begin sprite carousel*/
#haha{
  width:340px;
  height:300px;
  margin:0 auto;
  position:relative;
}
#haha p {
  position:absolute;
  bottom:0;
  width:100%;
}
#togLeft,#togRight{
  height:256px;
  width:30px;
  position:relative;
  top:-125px;

}
#carousel{
  width:256px;
  height:256px;
  display:inline-block;
  background:url(img/season-6-contestants-onerow.jpg) no-repeat;


}
/*end sprite carousel*/
@media screen and (max-width:720px){
  ul{
    width:300px;
    height:300px;
  }
}