/*BOX MODEL HACK*/
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
body{
  margin:0;
  text-align: center;
  background: -webkit-radial-gradient(white, deepPink); /* Safari */
  background: -o-radial-gradient(white, deepPink); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(white, deepPink); /* For Firefox 3.6 to 15 */
  background: radial-gradient(white, deepPink); /* Standard syntax */
  position:relative;
  margin-bottom: 0;
}
span{
  display:inline-block;
  width:33.33%;
  height:100%;
  border: 2px solid black;
  margin:0;
  padding:0;
}
ul{
  list-style: none;
  margin:0 auto;
  padding:0;
  width:300px;
  height:300px;
}
li{
  margin:0;
  padding:0;
  height:33.33%;
  width:100%;
}
.x{
  background:url(img/season-6-contestants-onerow-small.jpg) no-repeat;


}
.o{
  background:url(img/season-6-contestants-onerow-small.jpg) no-repeat;

}
#characters-page{
  margin: 6em auto;
  height:600px;
  width:600px;
  text-align: center;

}
#characters-page > button{
  width: 200px;
  margin: 0 auto;
}
#characters-page h2{
  float:left;
  width:100px;
  display:inline-block;
}
/*begin sprite carousel*/
.carousel-nest{
  width:250px;
  height:200px;
  float:left;
  position:relative;
}
.carousel-nest p {
  position:absolute;
  bottom:0;
  width:100%;
}
.togLeft,.togRight{
  height:100px;
  width:30px;
  position:relative;
  top:-50px;

}
.carousel{
  width:100px;
  height:100px;
  display:inline-block;
  background:url(img/season-6-contestants-onerow-small.jpg) no-repeat;


}
/*end sprite carousel*/
@media screen and (max-width:720px){
  ul{
    width:300px;
    height:300px;
  }
}